<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         user_name, phone, address, consignee, cancel_reason, rejection_reason, cancel_time, estimated_delivery_time,
         delivery_status, delivery_time, pack_amount, tableware_number, tableware_status)
         values
             (#{number},#{status},#{userId},#{addressBookId},#{orderTime},#{checkoutTime},#{payMethod},#{payStatus},
              #{amount},#{remark},#{userName},#{phone},#{address},#{consignee},#{cancelReason},#{rejectionReason},
              #{cancelTime},#{estimatedDeliveryTime},#{deliveryStatus},#{deliveryTime},#{packAmount},#{tablewareNumber},
              #{tablewareStatus})
    </insert>

    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' "> cancel_reason=#{cancelReason}, </if>
            <if test="rejectionReason != null and rejectionReason!='' "> rejection_reason=#{rejectionReason}, </if>
            <if test="cancelTime != null"> cancel_time=#{cancelTime}, </if>
            <if test="payStatus != null"> pay_status=#{payStatus}, </if>
            <if test="payMethod != null"> pay_method=#{payMethod}, </if>
            <if test="checkoutTime != null"> checkout_time=#{checkoutTime}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="deliveryTime != null"> delivery_time = #{deliveryTime} </if>
        </set>
        where id = #{id}
    </update>


    <!--定义关联表数据-->

    <resultMap id="OrderPageMap" type="com.sky.vo.OrderVO">
        <!--直接映射 SetmealVO的字段-->
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
        <result column="address_book_id" property="addressBookId"/>
        <result column="order_time" property="orderTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="pay_method" property="payMethod"/>
        <result column="pay_status" property="payStatus"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="consignee" property="consignee"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="rejection_reason" property="rejectionReason"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="estimated_delivery_time" property="estimatedDeliveryTime"/>
        <result column="delivery_status" property="deliveryStatus"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="pack_amount" property="packAmount"/>
        <result column="tableware_number" property="tablewareNumber"/>
        <result column="tableware_status" property="tablewareStatus"/>

        <!-- 处理 List<OrderDetial> 关联关系 -->
        <collection property="orderDetailList" ofType="com.sky.entity.OrderDetail">
            <id column="id" property="id"/>
            <result column="order_id" property="orderId"/>
            <result column="dish_id" property="dishId"/>
            <result column="setmeal_id" property="setmealId"/>
            <result column="dish_flavor" property="dishFlavor"/>
            <result column="dish_number" property="dishNumber"/>
            <result column="dish_amount" property="dishAmount"/>
            <result column="name" property="name"/>
            <result column="image" property="image"/>
        </collection>

    </resultMap>

    <select id="page" resultMap="com.sky.mapper.OrderMapper.OrderPageMap">
        select o.*,od.id as id,od.order_id as order_id,od.dish_id as dish_id,od.setmeal_id as setmeal_id,
        od.dish_flavor as dish_flavor,od.number as dish_number,od.amount as dish_amount,od.name as name,od.image as image
        from orders o left join order_detail od on o.id = od.order_id
        <where>
            <if test="userId != null and userId != ''">and o.user_id = #{userId}</if>
            <if test="status != null and status != ''">and o.status = #{status}</if>
        </where>

    </select>


</mapper>
